@charset "UTF-8";

/* 回答はここに書いてね */
.q6__text-box {
  background-color: #e6f2ff;
  padding: 10px 0;
  width: 90px;
}

.q6__text-align-box {
  text-align: center;
}

.q6__text-align-box .q6__text {
  display: inline-block;
}

.q6__margin-box .q6__text {
  margin: 0 auto;
  text-align: center;
}

.q6__table-box {
  display: table;
}

.q6__table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q6__table-cell .q6__text {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}

.q6__flex-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.q6__flex-box .q6__text {
  background-color: #fff;
  padding: 10px;
}

.q6__stable-box {
  position: relative;
}

.q6__stable-box .q6__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q6__flexible-box {
  position: relative;
}

.q6__flexible-box .q6__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

/* 回答はここに書いてね */
